<template>
  <base-modal
    width="w-1/2 md:w-1/3"
    title="Ajouter un groupe pédagogique"
    @close="$router.back()"
    @ok="createEducationalGroup"
    :loading="loading"
    :active.sync="show"
  >
    <!-- Level (filiere) -->
    <div class="relative">
      <select
        v-model="$v.filiere.$model"
        class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        id="grid-state"
      >
        <option value="" selected disabled hidden>Filière, Ex: GL</option>
        <option value="GL">Génie Logiciel</option>
        <option value="SI">Sécurité Informatique</option>
        <option value="SIRI">Sécurité et Réseaux Informatique</option>
        <option value="IM">Internet et Multimédia</option>
      </select>
      <div
        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
      >
        <svg
          class="fill-current h-4 w-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
          />
        </svg>
      </div>
    </div>

    <!-- Grade -->
    <div class="relative mt-4">
      <select
        v-model="$v.grade.$model"
        class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        id="grid-state"
      >
        <option value="" selected disabled hidden>Grade, Ex: Master 1</option>
        <option value="Licence 1">Licence 1</option>
        <option value="Licence 2">Licence 2</option>
        <option value="Licence 3">Licence 3</option>
        <option value="Master 1">Master 1</option>
        <option value="Master 2">Master 2</option>
      </select>
      <div
        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
      >
        <svg
          class="fill-current h-4 w-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
          />
        </svg>
      </div>
    </div>

    <!-- Academic year  -->
    <div class="relative mt-4">
      <select
        v-model="$v.annee_academiques_id.$model"
        class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        id="grid-state"
      >
        <option value="" selected disabled hidden
          >Année Académique, Ex: 2019-2020</option
        >
        <option :key="year.id" :value="year.id" v-for="year in years">
          {{ year.name }}
        </option>
      </select>
      <div
        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
      >
        <svg
          class="fill-current h-4 w-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
          />
        </svg>
      </div>
    </div>

    <!--  owner  -->
    <div class="relative mt-4">
      <select
        v-model="$v.owner.$model"
        class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        id="grid-state"
      >
        <option value="" selected disabled hidden
          >Responsable pédagogique</option
        >
        <option :key="owner.id" :value="owner.id" v-for="owner in owners">
          {{ owner.name }}
        </option>
      </select>
      <div
        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
      >
        <svg
          class="fill-current h-4 w-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
          />
        </svg>
      </div>
    </div>

    <!-- classroom chief -->
    <div class="relative mt-4">
      <select
        v-model="$v.classroom_chief.$model"
        class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        id="grid-state"
      >
        <option value="" selected disabled hidden>Responsable de classe</option>
        <option
          :key="chief.id"
          :value="chief.id"
          v-for="chief in classroomChiefs"
        >
          {{ chief.name }}
        </option>
      </select>
      <div
        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
      >
        <svg
          class="fill-current h-4 w-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
          />
        </svg>
      </div>
    </div>
  </base-modal>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { required } from "vuelidate/lib/validators";
export default {
  data() {
    return {
      show: false,
      loading: false,
      annee_academiques_id: "",
      classroom_chief: "",
      owner: "",
      grade: "",
      filiere: ""
    };
  },

  validations: {
    annee_academiques_id: { required },
    classroom_chief: { required },
    owner: { required },
    grade: { required },
    filiere: { required }
  },

  computed: {
    ...mapGetters("entities/academicyear", ["years"]),
    ...mapGetters("entities/users", ["classroomChiefs", "owners"])
  },

  async created() {
    this.show = true;
    await Promise.all([this.fetch(), this.getUsers()]);
  },

  methods: {
    ...mapActions("entities/academicyear", ["fetch"]),
    ...mapActions("entities/users", ["getUsers"]),
    ...mapActions("entities/educationalgroup", ["store"]),

    async createEducationalGroup() {
      try {
        this.$v.$touch();
        if (!this.$v.$invalid) {
          this.loading = true;
          console.log(this.grade)
          const response = await this.store({
            annee_academiques_id: parseInt(this.annee_academiques_id),
            owner: parseInt(this.owner),
            classroom_chief: parseInt(this.classroom_chief),
            grade: this.grade,
            filiere: this.filiere
          });
          if (response.isSuccessful) {
            this.loading = false;
            this.$notify({
              title: "Création",
              message: "Création d'un nouveau groupe pédagogique",
              type: "success"
            });
            this.show = false;
            setTimeout(() => {
              this.$router.back();
            }, 2000);
          }
          this.loading = false;
          if (response.isBadRequest) {
            this.$notify({
              title: "Erreur de validation",
              message: response.data.message,
              type: "danger"
            });
          }
        } else {
          this.$notify({
            title: "Erreur de validation",
            message: "Veuillez remplir tous les champs",
            type: "warning"
          });
          this.loading = false;
        }
      } catch (error) {
        this.loading = false;
        console.error(error);
      }
    }
  }
};
</script>

<style scoped></style>
