<template>
  <base-modal
    width="w-1/2 md:w-1/3"
    title="Supprimer une année académique"
    @close="$router.back()"
    @ok="DeleteEducationalYear"
    :loading="loading"
    :active.sync="show"
  >
    <div class="relative mt-4">
      <select
        v-model="$v.annee_academiques_id.$model"
        class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        id="grid-state"
      >
        <option value="" selected disabled hidden
          >Année Académique, Ex: 2019-2020</option
        >
        <option :key="year.id" :value="year.id" v-for="year in years">
          {{ year.name }}
        </option>
      </select>
      <div
        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
      >
        <svg
          class="fill-current h-4 w-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
          />
        </svg>
      </div>
    </div>

    <div class="relative mt-4">
      <select
        v-model="$v.educationalgroupId.$model"
        class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        id="grid-state"
      >
        <option value="" selected disabled hidden>Groupe pédagogique</option>
        <option
          :key="educationalgroup.id"
          :value="educationalgroup.id"
          v-for="educationalgroup in educationalgroupByYear(
            annee_academiques_id
          )"
        >
          {{ educationalgroup.filiere }}, {{ educationalgroup.grade }}
        </option>
      </select>
      <div
        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
      >
        <svg
          class="fill-current h-4 w-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
          />
        </svg>
      </div>
    </div>
  </base-modal>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";
export default {
  data() {
    return {
      show: false,
      loading: false,
      annee_academiques_id: "",
      educationalgroupId: ""
    };
  },

  validations: {
    annee_academiques_id: { required },
    educationalgroupId: { required }
  },

  computed: {
    ...mapGetters("entities/academicyear", ["years"]),
    ...mapGetters("entities/educationalgroup", [
      "educationalgroupByYear",
      "educationalgroup"
    ])
  },

  async created() {
    this.show = true;
    await Promise.all([this.fetchYear(), this.fetch()]);
  },

  methods: {
    ...mapActions({
      fetchYear: "entities/academicyear/fetch",
      fetch: "entities/educationalgroup/fetch",
      remove: "entities/educationalgroup/remove"
    }),

    async DeleteEducationalYear() {
      try {
        this.$v.$touch();
        if (!this.$v.$invalid) {
          this.loading = true;
          const response = await this.remove(this.educationalgroupId);
          if (response.isSuccessful) {
            this.loading = false;
            this.show = false;
            this.$notify({
              title: "Suppression",
              message: "Un groupe pédagogique a été supprimé",
              type: "success"
            });
            setTimeout(() => {
              this.$router.back();
            }, 2000);
          }
        } else {
          this.$notify({
            title: "Erreur de validation",
            message: "Veuillez remplir tous les champs",
            type: "warning"
          });
          this.loading = false;
        }
      } catch (error) {
        this.loading = false;
        console.error(error);
      }
    }
  }
};
</script>

<style scoped></style>
