<template>
  <base-modal
    title="Ajouter un Ec"
    width="w-2/3 md:w-2/3"
    :loading="loading"
    :active.sync="showEcModal"
    @close="$router.back()"
    @ok="storeEc()"
  >
    <base-input placeholder="Nom de l'EC" v-model.trim="$v.ec.name.$model"/>

    <base-input placeholder="Nom du professeur" v-model.trim="$v.ec.professor.name.$model"/>
    <div>
      <div>
        <base-input placeholder="Masse horaire" type="number" v-model.trim="$v.ec.hourlyMass.$model"/>
      </div>
      <!-- <div class="w-1/2 px-3">
        <base-input
          type="number"
          placeholder="Contacte du professeur"
          prepend >
          <template #prepend>
            <span>+229</span>
          </template>
        </base-input>
      </div> -->
    </div>
  </base-modal>
</template>

<script>
import { mapActions } from 'vuex'
import { required, numeric } from 'vuelidate/lib/validators'
export default {

  validations: {
    ec: {
      name: { required },
      professor: {
        name: { required }
      },
      hourlyMass: { required, numeric }
    }
  },

  data () {
    return {
      showEcModal: false,
      loading: false,

      ec: {
        name: '',
        professor: {
          name: '',
          phone: ''
        },
        hourlyMass: ''
      },
    }
  },

  mounted () {
    this.showEcModal = true
  },

  methods: {
    ...mapActions({
      createEc: 'entities/ec/create'
    }),

    async storeEc () {
      this.$v.$touch()
      try {
        if (!this.$v.$invalid) {
          this.loading = true
          const response = await this.createEc({
            ue_id: this.$route.params.ue,
            hourlyMass: this.ec.hourlyMass,
            name: this.ec.name,
            professor: this.ec.professor.name
          })
          if (response.isSuccessful) {
            this.loading = false
            this.showEcModal = false
            this.$notify({
              title: 'Création',
              message: 'Création d\'un EC',
              type: 'success'
            })
            setTimeout(() => {
              this.$router.back()
            }, 2000)
          }
        } else {
          this.loading = false
          this.$notify({
            title: 'Erreur de validation',
            message: 'Veuillez remplir tous les champs',
            type: 'warning'
          })
        }
      } catch (error) {
        this.loading = false
        console.error(error)
      }
    }
  }

}
</script>

<style scoped>

</style>
