<template>
  <div class="planning-content">
    <div
      v-if="ues.length > 0"
      class="caption px-6 py-4 flex flex-wrap justify-between"
    >
      <p class="font-hairline text-4xl">Planning</p>
      <div class="">
        <base-button
          v-if="user.isAdmin || user.isOwner"
          title="Créer une UE"
          @click.native="UeModal"
          class="bg-orange"
        />
      </div>
    </div>
    <base-table
      v-if="items.length"
      row-span="size"
      :columns="$options.columns"
      :items="items"
    >
      <template #main="{ row }">
        <p class="text-center">{{ row.main.name }}</p>
        <div class="flex justify-center">
          <base-button
            v-if="user.isAdmin || user.isOwner"
            @click.native="
              $router.push({ name: 'ec.create', params: { ue: row.main.id } })
            "
            class="bg-blue text-center"
            title="créer un ec"
          />
        </div>
      </template>

      <template #hourlyMass="{ value }">
        <span v-if="value"> {{ value }} h </span>
      </template>

      <template #status="{ value, row }">
        <span class="color-orange" v-if="value === 'pending'">
          {{ value }}
        </span>
        <span
          class="color-green"
          v-else-if="row.hourlyMass === row.hourlyMassDone"
        >
          complet
        </span>
        <div class="flex items-center" v-else-if="value === 'start'">
          <div class="w-2/3">
            <progress-bar />
          </div>
          <div>{{ row.hourlyMassDone }}h</div>
        </div>
      </template>

      <template #action="{ row }">
        <div>
          <base-button
            v-if="user.isClassic && row.id"
            title="modifier"
            class="bg-orange"
            @click.native="
              $router.push({
                name: 'ec.update',
                params: {
                  ue: row.ue_id,
                  ec: row.id
                }
              })
            "
          />
          <!-- <base-button v-if="user.isAdmin" title="delete" class="bg-red-500"/> -->
        </div>
      </template>
    </base-table>

    <div class="mb-6"></div>

    <base-modal
      width="w-1/2 md:w-1/3"
      title="Créer une UE"
      :active.sync="showUeModal"
      @ok="storeUe()"
    >
      <base-input placeholder="Nom de l'UE" v-model="$v.ue.name.$model" />
      <base-input placeholder="Code de l'UE" v-model="$v.ue.code.$model" />
    </base-modal>

    <router-view />
  </div>
</template>

<script>
import { required } from "vuelidate/lib/validators";
import { mapActions, mapGetters } from "vuex";
import ProgressBar from "@/components/progress";

export default {
  columns: {
    main: "UE",
    name: "ECUE",
    status: "Statut",
    professor: "Enseignant",
    hourlyMass: "Masse Horaire",
    action: "Actions"
  },

  columnsViewer: {
    main: "UE",
    name: "ECUE",
    status: "Statut",
    professor: "Enseignant",
    hourlyMass: "Masse Horaire"
  },

  components: {
    ProgressBar
  },

  validations: {
    ue: {
      name: {
        required
      },
      code: {
        required
      }
    }
  },

  data() {
    return {
      ue: {
        name: "",
        code: ""
      },
      currentGroup: "",
      showUeModal: false
    };
  },

  computed: {
    ...mapGetters({
      ues: "entities/ue/uesByEducationalGroup"
    }),

    ...mapGetters("auth", ["user"]),

    items() {
      let result = [];
      this.ues(this.$route.params.id).forEach(ue => {
        var size = ue.ecs.length;
        if (size === 0) {
          list = [
            {
              main: {
                id: ue.id,
                name: ue.name,
                code: ue.code,
                size: 1
              },
              name: "",
              status: "",
              professor: "",
              hourlyMass: "",
              action: ""
            }
          ];
        } else {
          var list = ue.ecs.map((ecue, index) => {
            if (index === 0) {
              return {
                main: {
                  id: ue.id,
                  name: ue.name,
                  code: ue.code,
                  size: size
                },
                ...ecue,
                action: ""
              };
            } else {
              return { ...ecue, action: "" };
            }
          });
        }
        result.push(...list);
      });

      return result;
    }
  },

  created() {
    this.fetch();
  },

  methods: {
    ...mapActions({
      createUE: "entities/ue/create",
      fetch: "entities/ue/fetch"
    }),

    UeModal() {
      this.showUeModal = !this.showUeModal;
    },

    EcModal() {
      this.showEcModal = !this.showEcModal;
    },

    async storeUe() {
      this.$v.$touch();
      try {
        if (!this.$v.$invalid) {
          const response = await this.createUE({
            ...this.ue,
            group_id: this.$route.params.id
          });
          if (response.isSuccessful) {
            this.showUeModal = false;
            this.$notify({
              title: "Création",
              message: "Création d'une nouvelle UE",
              type: "success"
            });
          }
        } else {
          this.$notify({
            title: "Erreur de validation",
            message: "Veuillez remplir tous les champs",
            type: "warning"
          });
        }
      } catch (error) {
        console.error(error);
      }
    }
  }
};
</script>

<style scoped>
.planning-content {
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  text-align: left;
  background: rgba(55, 119, 188, 0.1);
  margin: 0.5em 0 0.75em;
}

.caption {
  background: rgba(55, 119, 188, 0.1);
}

table tr {
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: left;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
</style>
