<template>
  <base-modal
    title="Modifier un Ec"
    width="w-2/3 md:w-2/3"
    :loading="loading"
    :active.sync="showEcModal"
    @close="$router.back()"
    @ok="storeEc()"
  >
    <base-input placeholder="Nom de l'EC" v-model.trim="$v.ec.name.$model" />

    <base-input
      placeholder="Nom du professeur"
      v-model.trim="$v.ec.professor.$model"
    />
    <div>
      <div>
        <base-input
          placeholder="Masse horaire"
          type="number"
          v-model.trim="$v.ec.hourlyMass.$model"
        />
      </div>
      <!-- <div class="w-1/2 px-3">
        <base-input
          type="number"
          placeholder="Contacte du professeur"
          prepend >
          <template #prepend>
            <span>+229</span>
          </template>
        </base-input>
      </div> -->
    </div>
    <div class="flex items-center justify-between mt-4">
      <label class="block tracking-wide text-gray-500 mb-2">
        Masse horaire éffectuée:
      </label>
      <number-input
        :min="minimum"
        :max="parseInt(ec.hourlyMass)"
        @num="hourlyMass"
      />
    </div>
  </base-modal>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { required, numeric } from "vuelidate/lib/validators";
import NumberInput from "@/components/NumberInput";
export default {
  validations: {
    ec: {
      name: { required },
      professor: {
        required
      },
      hourlyMass: { required, numeric }
    }
  },

  components: {
    NumberInput
  },

  data() {
    return {
      showEcModal: false,
      loading: false,

      ec: {
        name: "",
        professor: "",
        hourlyMass: ""
      },
      hourlyMassDone: 0
    };
  },

  computed: {
    ...mapGetters("entities/ec", ["ecById"]),
    minimum() {
      return this.ec.hourlyMassDone ? parseInt(this.ec.hourlyMassDone) : 0;
    }
  },

  async created() {
    this.showEcModal = true;
    await Promise.all([this.fetch(), this.fetchEc()]);
    this.ec = this.ecById(this.$route.params.ec);
  },

  methods: {
    ...mapActions({
      updateEc: "entities/ec/update",
      fetchEc: "entities/ec/fetch",
      fetch: "entities/ue/fetch"
    }),

    hourlyMass(num) {
      this.hourlyMassDone = num;
    },

    async storeEc() {
      this.$v.$touch();
      console.log(this.$v.$invalid);
      try {
        if (!this.$v.$invalid) {
          this.loading = true;
          const response = await this.updateEc({
            id: this.$route.params.ec,
            ue_id: this.$route.params.ue,
            hourlyMass: this.ec.hourlyMass,
            hourlyMassDone: this.hourlyMassDone,
            status: "start",
            name: this.ec.name,
            professor: this.ec.professor
          });
          if (response.isSuccessful) {
            this.showEcModal = false;
            this.loading = false;
            this.$notify({
              title: "Création",
              message: "Création d'une nouvelle UE",
              type: "success"
            });
            setTimeout(() => {
              this.$router.back();
            }, 2000);
          }
        } else {
          this.loading = false;
          this.$notify({
            title: "Erreur de validation",
            message: "Veuillez remplir tous les champs",
            type: "warning"
          });
        }
      } catch (error) {
        this.loading = false;
        console.error(error);
      }
    }
  }
};
</script>

<style scoped></style>
