<template>
  <div class="notifications">
    <notification
      v-for="notification in notifications"
      :key="notification.key"
      :notification="notification"
      transition="fade"
      @close-notification="removeNotification"
    />
  </div>
</template>

<script>
import notification from './notification'
export default {
  name: 'Notifications',

  components: {
    notification
  },

  props: {
    notifications: {
      type: Array,
      default: () => []
    }
  },

  data () {
    return {
      notifs: []
    }
  },

  mounted () {
    this.notifs = this.notifications
  },

  methods: {
    removeNotification (index) {
      this.notifs = this.notifs.filter((notification) => notification.key !== index)
      this.$emit('update:notifications', this.notifs)
    }
  }
}
</script>

<style lang="scss" scoped>
  .notifications {
    position: fixed;
    right: 20px;
    top: 8px;
    background: transparent;
    width: 330px;
    z-index: 1;
  }
</style>
