<template>
  <transition name="fade-in-down" enter-active-class="fadeInDown">
    <div
      :class="notification.status ? notification.status : 'success'"
      class="notification bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4"
      role="alert">
      <p class="font-bold">{{ notification.title }}</p>
      <p>{{ notification.message }}</p>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'Notification',

  props: {
    notification: {
      type: Object,
      default: () => {}
    }
  },

  data () {
    return {
      timer: 0,
      progress: {
        hideEta: 0,
        percent: 0,
        intervalId: null
      }
    }
  },

  mounted () {
    this.timer = this.notification.timeout
    window.setTimeout(() => this.show(), 0)
  },

  methods: {
    close () {
      this.hide()
    },

    onMouseEnter () {
      this.paused()
    },

    onMouseLeave () {
      this.resume()
    },

    paused () {
      window.clearTimeout(this.sto)
      if (this.notification.progressBar) window.clearTimeout(this.progress.intervalId)
    },

    resume () {
      this.sto = setTimeout(() => this.hide(), this.timer)
      if (this.notification.progressBar) {
        this.progress.hideEta = new Date().getTime() + parseFloat(this.timer)
        this.progress.intervalId = window.setInterval(() => this.refreshProgress(), 10)
      }
    },

    show () {
      this.sto = setTimeout(() => this.hide(), this.notification.timeout)
      if (this.notification.progressBar) {
        this.progress.hideEta = new Date().getTime() + parseFloat(this.notification.timeout)
        this.progress.intervalId = window.setInterval(() => this.refreshProgress(), 10)
      }
    },

    hide () {
      window.clearTimeout(this.sto)
      if (this.notification.progressBar) window.clearTimeout(this.progress.intervalId)
      this.$emit('close-notification', this.notification.key)
    },

    refreshProgress () {
      this.timer -= 10
      this.progress.percent = ((this.progress.hideEta - (new Date().getTime())) / this.notification.timeout) * 100
    },

    action () {
      this.notification.action()
      this.close()
    }
  }
}
</script>

<style lang="scss" scoped>
  .fade-in-down-enter-active {
    animation: fadeInDown .4s;
  }

  .fade-in-down-leave-active {
    animation: fadeInDown .4s reverse;
  }

  @-webkit-keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }
  .notification {
    position: relative;
    cursor: pointer;
    top: 0;
    box-shadow: 0px 4px 4px rgba(153, 153, 153, 0.25) !important;
    font-size: 16px !important;
    color: #000000;
    min-height: 67px;
    padding: 10px 15px;
    margin-bottom: 10px;

    .close-notification {
      cursor: pointer;
      position: absolute;
      right: 5px;
      top: 0;
    }

    .notification-button {
      border-radius: 4px;
      width: auto;
      margin-top: 8px;
      margin-bottom: 8px;
      text-align: center;
      height: 32px;
      text-transform: none;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-box-shadow: 0px 4px 6px rgba(153,167,179,0.2);
      box-shadow: 0px 4px 6px rgba(153,167,179,0.2);
      border-radius: 4px;
      background-color: #FFFFFF;
      border: 1px solid #FFFFFF;
      padding-top: 0px !important;
      padding-right: 15px !important;
      padding-bottom: 0px !important;
      padding-left: 15px !important;
      font-size: 14px !important;
    }

    .notification-progress {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 8px;
      background: #FFFFFF;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      width: 100% !important;
      .notification-progress-content {
        position: relative;
        display: block;
        height: 100%;
        overflow: hidden;
        border-bottom-left-radius: 3px;
      }
    }
  }

  .primary {
    background: #F6F9FE;
    border-left: solid 4px #72A9F3;
  }
  .success {
    background: #EAFAF1;
    border-left: solid 4px #27ae60;
  }
  .warning {
    background: #FEFCF5;
    border-left: solid 4px #F6DB88;
  }
  .danger {
    background: #FEF6F6;
    border-left: solid 4px #F18D8D;
  }
  .primary-progress {
    background: #72A9F3;
  }
  .success-progress {
    background: #27ae60;
  }
  .warning-progress {
    background: #F6DB88;
  }
  .danger-progress {
    background: #F18D8D;
  }
  .primary-color {
    color: #72A9F3;
  }
  .success-color {
    color: #27ae60;
  }
  .warning-color {
    color: #F6DB88;
  }
  .danger-color {
    color: #F18D8D;
  }
</style>
