<template>
  <div>
    <transition name="fade">
      <router-view></router-view>
    </transition>
    <notifications :notifications.sync="notifications"/>
  </div>
</template>

<style>
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s
  }
  .fade-enter, .fade-leave-active {
    opacity: 0
  }
</style>

<script>
import Notifications from '@/components/notifications'
import { mapFields } from 'vuex-map-fields'

export default {
  components: {
    Notifications
  },

  computed: {
    ...mapFields(['notifications'])
  }
}
</script>
