// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3777BC;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #F08114;
$yellow: #ffed4a;
$green: #067132;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$black: #333333;

.bg-blue {
  background: #3777BC;
}
.color-blue {
  color: #3777BC;
}

.bg-orange {
  background: #F08114;
}
.color-orange {
  color: #F08114;
}

.bg-green {
  background: #067132;
}
.color-green {
  color: #067132;
}
