<template>
  <base-modal
    title="Ajouter un enseignant"
    width="w-2/3 md:w-2/3"
    @close="$router.back()"
    :active.sync="showEcModal"
    @ok="storeEnseignant()"
  >
    <base-input
      placeholder="Nom de l'enseignant"
      v-model.trim="$v.user.name.$model"
    />

    <base-input placeholder="Email" v-model.trim="$v.user.email.$model" />
    <base-input
      type="number"
      v-model.number="$v.user.phone.$model"
      placeholder="Numéro de téléphone"
      prepend
    >
      <!-- <template #prepend>
        <span>+229</span>
      </template> -->
    </base-input>

    <div class="relative mt-4">
      <div
        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
      >
        <svg
          class="fill-current h-4 w-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
          />
        </svg>
      </div>
    </div>
  </base-modal>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { required, numeric } from "vuelidate/lib/validators";
export default {
  validations: {
    user: {
      name: { required },
      email: { required },
      phone: { required, numeric }
    }
  },

  data() {
    return {
      showEcModal: false,

      user: {
        name: "",
        email: "",
        phone: ""
      }

    };
  },

  computed: {
    ...mapGetters({
      currentUser: "auth/user"
    })
  },

  mounted() {
    this.showEcModal = true;
  },

  methods: {
    ...mapActions('entities/enseignant', ['create']),

    async storeEnseignant() {
      this.$v.$touch();
      try {
        if (!this.$v.$invalid) {
          const response = await this.create({
            name: this.user.name,
            email: this.user.email,
            phone: this.user.phone,
          });
          if (response.isSuccessful) {
            this.$notify({
              title: "Création",
              message: "Création d'un enseignant",
              type: "success"
            });
            setTimeout(() => {
              this.showEcModal = false;
              this.$router.back();
            }, 3000);
          }
        } else {
          this.$notify({
            title: "Erreur de validation",
            message: "Veuillez valider tous les champs",
            type: "warning"
          });
        }
      } catch (error) {
        console.error(error);
      }
    }
  }
};
</script>

<style scoped></style>
