<template>
  <base-modal
    title="Modifier son profil"
    width="w-2/3 md:w-2/3"
    @close="$router.back()"
    :active.sync="showEcModal"
    @ok="updateUserForm()"
  >
    <base-input
      placeholder="Nom de l'utilisateur"
      v-model.trim="$v.user.name.$model"
    />

    <base-input placeholder="Email" v-model.trim="$v.user.email.$model" />

    <base-input placeholder="Password" v-model.trim="$v.user.password.$model" />

    <base-input
      type="number"
      v-model.number="$v.user.phone.$model"
      placeholder="Numéro de téléphone"
      prepend
    >
      <template #prepend>
        <span>+229</span>
      </template>
    </base-input>

    <div class="relative mt-4" v-if="currentUser.isAdmin">
      <select
        v-model="$v.user.role.$model"
        class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        id="grid-state"
      >
        <option value="" selected disabled hidden>Role</option>
        <option :key="index" :value="index" v-for="(role, index) in roles">
          {{ role }}
        </option>
      </select>
      <div
        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
      >
        <svg
          class="fill-current h-4 w-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
          />
        </svg>
      </div>
    </div>
  </base-modal>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { required, numeric } from "vuelidate/lib/validators";
export default {
  validations: {
    user: {
      name: { required },
      email: { required },
      password: { required },
      role: { required },
      phone: { required, numeric }
    }
  },

  data() {
    return {
      showEcModal: false,

      user: {
        name: "",
        email: "",
        phone: "",
        password: "",
        role: ""
      },

      roles: {
        admin: "Administrateur",
        "resp.gped": "Responsable pédagogique",
        "resp.class": "Responsable de classe",
        viewer: "Visiteur"
      }
    };
  },

  computed: {
    ...mapGetters({
      currentUser: "auth/user"
    })
  },

  mounted() {
    this.showEcModal = true;
    this.user = this.currentUser;
  },

  methods: {
    ...mapActions({
      updateUser: "entities/users/update"
    }),

    async updateUserForm() {
      this.$v.$touch();
      try {
        if (!this.$v.$invalid) {
          const response = await this.updateUser({
            id: this.currentUser.id,
            name: this.user.name,
            email: this.user.email,
            password: this.user.password,
            phone: this.user.phone,
            role: this.user.role
          });
          if (response.isSuccessful) {
            this.$notify({
              title: "Mise à jour",
              message: "Mise à jour de votre profil",
              type: "success"
            });
            setTimeout(() => {
              this.showEcModal = false;
              this.$router.back();
            }, 3000);
          }
        } else {
          this.$notify({
            title: "Erreur de validation",
            message: "Veuillez valider tous les champs",
            type: "warning"
          });
        }
      } catch (error) {
        console.error(error);
      }
    }
  }
};
</script>

<style scoped></style>
