<template>
  <base-modal
    width="w-1/2 md:w-1/3"
    title="Ajouter une année académique"
    @close="$router.back()"
    @ok="createEducationalYear"
    :loading="loading"
    :active.sync="show">

    <base-input v-model="$v.name.$model" placeholder="2019-2020" />

  </base-modal>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { required } from 'vuelidate/lib/validators'
export default {

  data () {
    return {
      show: false,
      loading: false,
      name: ''
    }
  },

  validations: {
    name: { required }
  },

  created () {
    this.show = true
  },

  methods: {
    ...mapActions('entities/academicyear', ['create']),
    async createEducationalYear () {
      try {
        this.$v.$touch()
        if (!this.$v.$invalid) {
          this.loading = true
          const response = await this.create({name: this.name})
          if(response.isSuccessful) {
            this.loading = false
            this.$notify({
              title: 'Création',
              message: 'Création d\'une nouvelle année académique',
              type: 'success'
            })
            this.show = false
            setTimeout(() => {
              this.$router.back()
            }, 3000)
          }
        } else {
          this.$notify({
            title: 'Erreur de validation',
            message: 'Veuillez remplir tous les champs',
            type: 'warning'
          })
          this.loading = false
        }
      } catch (error) {
        this.loading = false
        console.error(error)
        this.$notify({
          title: 'Erreur de soumission',
          message: 'Une erreur est survenu lors de la création',
          type: 'danger'
        })
      }
    }
  }
}
</script>

<style scoped>

</style>
