<template>
  <div class="bg-login sp-login flex justify-center items-center">
    <form @submit.prevent="connection()" class="px-8 py-8 min-w-0 max-w-sm rounded overflow-hidden shadow-lg bg-white">
      <div class="flex justify-around items-center">
        <div class="text-2xl font-medium color-blue">
          Connexion
        </div>
        <div class="px-12"></div>
        <div>
          <svg-vue icon="ifri" class="logo"/>
        </div>
      </div>
      <div class="mt-4">
        <base-input v-model.trim="$v.email.$model" placeholder="Email"/>
      </div>
      <div class="mt-4">
        <base-input v-model.trim="$v.password.$model" placeholder="Mot de passe" type="password"/>
      </div>
      <div class="mt-8">
        <base-button
          class="bg-blue w-full"
          type="submit"
          title="Se connecter"
          icon
          :loading="loading"
        />
      </div>
    </form>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { email, required } from 'vuelidate/lib/validators'
export default {

  data () {
    return {
      email: '',
      password: '',
      loading: false
    }
  },

  validations: {
    email: {
      required,
      email
    },
    password: {
      required
    }
  },

  methods: {
    ...mapActions('auth', ['login']),

    async connection () {
      try {
        this.$v.$touch()
        if (!this.$v.$invalid) {
          const response = await this.login({
            email: this.email,
            password: this.password
          })
          this.loading = true
          if (response.isSuccessful) {
            this.$router.push({name: 'planning.index'})
            this.loading = false
          }
        }
      } catch (error) {
        console.error(error)
      }
    }
  }
}
</script>

<style scoped>
.sp-login {
  height: 100vh;
}
.logo {
  height: 70px;
  width: 90px;
}

.bg-login {
  background-size: cover;
  background: url("data:image/svg+xml,%3Csvg width='1440' height='732' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M941.648 489.914L299-78.859h1486c-98.94 106.345-328.97 368.983-457.63 568.773-128.66 199.789-310.76 83.245-385.722 0z' fill='url(%23paint0_linear)'/%3E%3Crect x='771.774' y='174.07' width='33' height='313' rx='16.5' transform='rotate(134.676 771.774 174.07)' fill='url(%23paint1_linear)'/%3E%3Crect x='1042' y='466.335' width='33' height='313' rx='16.5' transform='rotate(-45 1042 466.335)' fill='url(%23paint2_linear)'/%3E%3Crect x='1481.77' y='296.07' width='33' height='313' rx='16.5' transform='rotate(134.676 1481.77 296.07)' fill='url(%23paint3_linear)'/%3E%3Crect x='525.774' y='174.07' width='33' height='313' rx='16.5' transform='rotate(134.676 525.774 174.07)' fill='url(%23paint4_linear)'/%3E%3Crect x='478.854' y='94.476' width='46.303' height='439.172' rx='23.151' transform='rotate(-45 478.854 94.476)' fill='url(%23paint5_linear)'/%3E%3Crect width='6.429' height='159.485' rx='3.214' transform='matrix(-.67053 .74188 -.73155 -.68178 60.983 653.734)' fill='%23E0E0E0'/%3E%3Crect width='6.429' height='159.485' rx='3.214' transform='matrix(-.67053 .74188 -.73155 -.68178 203.983 232.734)' fill='%23E0E0E0'/%3E%3Crect width='9.019' height='223.779' rx='4.509' transform='rotate(-47.045 726.761 274.3) skewX(-.152)' fill='url(%23paint6_linear)'/%3E%3Cg style='mix-blend-mode:soft-light' fill='%23fff'%3E%3Cpath d='M1422.67-12.465l-3.45-.343.68-1.784 4.37.499 1.68 1.152-10.06 14.64-2-1.376 8.78-12.788zM1435.99 4.497c-3.44 5.005-7.16 6.46-10.32 4.294-2.85-1.96-2.96-5.979.31-10.843s7.28-6.046 10.16-4.069c2.88 1.977 3.05 5.963-.15 10.618zm-8.11-5.242c-2.61 3.804-2.93 6.789-1.13 8.027 1.8 1.238 4.66-.297 7.14-3.901 2.47-3.604 3.18-6.617 1.13-8.027-2.06-1.41-4.41-.078-7.14 3.9zM1445.74 3.385l-3.45-.343.65-1.802 4.37.5 1.66 1.134-10.06 14.64-1.93-1.324 8.76-12.805zM1371.2-.226c-3.44 5.006-7.17 6.461-10.32 4.295-2.85-1.96-2.94-5.962.33-10.826 3.27-4.864 7.26-6.063 10.16-4.07 2.91 1.995 3.03 5.947-.17 10.601zm-8.11-5.242c-2.62 3.804-2.94 6.79-1.13 8.027 1.8 1.238 4.72-.439 7.19-4.043 2.48-3.603 3.19-6.617 1.13-8.027-2.05-1.41-4.46.064-7.19 4.043zM1380.95-1.336l-3.45-.343.67-1.785 4.38.5 1.67 1.151-10.05 14.64-1.93-1.324 8.71-12.84zM1394.29 15.641c-3.43 5.005-7.16 6.46-10.31 4.295-3.16-2.167-2.97-5.98.3-10.843 3.27-4.865 7.28-6.047 10.16-4.07 2.88 1.978 3.05 5.963-.15 10.618zm-8.11-5.242c-2.61 3.804-2.93 6.79-1.13 8.027 1.8 1.238 4.72-.44 7.2-4.043 2.47-3.603 3.18-6.617 1.13-8.027-2.05-1.41-4.46.064-7.2 4.043zM1404.1 14.568l-3.45-.343.67-1.785 4.38.5 1.67 1.151-10.05 14.64-2.01-1.375 8.79-12.788zM1417.42 31.53c-3.44 5.004-7.16 6.46-10.32 4.293-2.85-1.96-2.96-5.978.31-10.843 3.26-4.864 7.28-6.046 10.16-4.069 2.88 1.977 3.05 5.963-.15 10.618zm-8.11-5.243c-2.62 3.804-2.94 6.79-1.13 8.027 1.8 1.238 4.69-.457 7.17-4.06 2.48-3.604 3.18-6.617 1.13-8.027-2.05-1.41-4.44.081-7.17 4.06zM1427.17 30.417l-3.45-.343.65-1.801 4.37.499 1.65 1.134-10.05 14.64-1.93-1.324 8.76-12.805zM1440.49 47.378c-3.44 5.005-7.16 6.46-10.32 4.294-2.85-1.96-2.94-5.961.33-10.825 3.27-4.865 7.26-6.064 10.16-4.07 2.91 1.995 3.03 5.946-.17 10.601zm-8.11-5.242c-2.62 3.804-2.94 6.79-1.13 8.027 1.8 1.238 4.72-.44 7.19-4.043 2.48-3.604 3.19-6.617 1.14-8.027-2.06-1.41-4.44.081-7.18 4.06l-.02-.017zM1450.3 46.305l-3.45-.343.67-1.784 4.37.499 1.68 1.152-10.06 14.64-1.9-1.307 8.69-12.857zM1306.4-4.949c-3.43 5.005-7.16 6.46-10.31 4.294-3.16-2.166-2.97-5.978.3-10.843 3.27-4.864 7.28-6.046 10.16-4.069 2.88 1.978 3.05 5.963-.15 10.618zm-8.11-5.242c-2.61 3.804-2.93 6.79-1.13 8.027 1.8 1.238 4.64-.314 7.2-4.043 2.56-3.729 3.18-6.617 1.13-8.027-2.05-1.41-4.45.04-7.2 4.043zM1316.18-6.041l-3.45-.343.68-1.784 4.37.499 1.68 1.151-10.06 14.64-1.9-1.306 8.68-12.857zM1329.53 10.939c-3.44 5.005-7.16 6.46-10.32 4.294-2.85-1.96-2.96-5.978.31-10.843 3.26-4.864 7.28-6.046 10.16-4.069 2.88 1.977 3.05 5.963-.15 10.618zm-8.11-5.242c-2.62 3.804-2.93 6.79-1.16 8.01 1.78 1.22 4.64-.315 7.2-4.043 2.56-3.729 3.18-6.617 1.13-8.027-2.05-1.41-4.42.056-7.17 4.06zM1339.28 9.827l-3.45-.343.65-1.801 4.37.499 1.7 1.169-10.05 14.64-1.93-1.324 8.71-12.84zM1352.63 26.807c-3.44 5.005-7.17 6.46-10.32 4.294-2.85-1.96-2.94-5.961.33-10.826 3.27-4.864 7.26-6.063 10.16-4.069 2.9 1.995 3.03 5.946-.17 10.6zm-8.12-5.242c-2.61 3.804-2.93 6.789-1.13 8.027 1.81 1.238 4.64-.314 7.2-4.043 2.56-3.729 3.18-6.617 1.13-8.027-2.05-1.41-4.44.039-7.2 4.043zM1362.38 25.696l-3.45-.343.67-1.784 4.38.499 1.67 1.152-10.06 14.64-1.92-1.324 8.71-12.84zM1375.72 42.674c-3.44 5.005-7.16 6.46-10.31 4.294-3.16-2.166-2.97-5.979.3-10.843s7.28-6.046 10.16-4.07c2.88 1.978 3.05 5.964-.15 10.619zm-8.11-5.242c-2.61 3.803-2.93 6.789-1.13 8.027 1.8 1.237 4.64-.315 7.2-4.043 2.56-3.73 3.18-6.618 1.13-8.027-2.05-1.41-4.45.039-7.2 4.043zM1385.53 41.6l-3.45-.343.67-1.784 4.37.499 1.68 1.152-10.06 14.64-2-1.376 8.79-12.788zM1398.85 58.562c-3.44 5.005-7.17 6.46-10.32 4.294-2.85-1.96-2.96-5.979.3-10.843 3.27-4.864 7.29-6.046 10.17-4.07 2.88 1.978 3.05 5.964-.15 10.619zm-8.11-5.242c-2.62 3.803-2.94 6.789-1.13 8.026 1.8 1.238 4.73-.397 7.22-4.025 2.49-3.629 3.18-6.617 1.13-8.027-2.05-1.41-4.47.022-7.22 4.026zM1408.6 57.45l-3.45-.343.65-1.802 4.37.5 1.65 1.134-10.06 14.64-1.92-1.324 8.76-12.805zM1421.92 74.41c-3.44 5.006-7.17 6.461-10.32 4.295-2.85-1.96-2.94-5.962.33-10.826 3.27-4.864 7.26-6.063 10.16-4.069 2.9 1.994 3.03 5.946-.17 10.6zm-8.11-5.242c-2.62 3.804-2.94 6.79-1.14 8.027 1.81 1.238 4.64-.314 7.2-4.042 2.56-3.73 3.19-6.618 1.13-8.028-2.05-1.41-4.42.057-7.17 4.06l-.02-.017zM1431.72 73.338l-3.44-.343.67-1.785 4.37.5 1.68 1.151-10.06 14.64-1.9-1.307 8.68-12.856zM1445.04 90.298c-3.43 5.005-7.16 6.46-10.31 4.295-3.16-2.167-2.97-5.979.3-10.843 3.27-4.865 7.28-6.046 10.16-4.07 2.88 1.978 3.05 5.964-.15 10.618zm-8.11-5.242c-2.61 3.804-2.93 6.79-1.13 8.027 1.8 1.238 4.64-.314 7.2-4.043 2.56-3.729 3.18-6.617 1.13-8.027-2.05-1.41-4.45.04-7.2 4.043zM1251.39-10.764l-3.45-.343.65-1.802 4.37.5 1.7 1.168L1244.6 3.4l-1.92-1.324 8.71-12.84zM1264.73 6.214c-3.43 5.005-7.16 6.46-10.31 4.294-2.86-1.96-2.94-5.961.32-10.825 3.27-4.865 7.26-6.064 10.17-4.07 2.9 1.995 3.02 5.946-.18 10.601zm-8.11-5.242c-2.61 3.804-2.93 6.79-1.13 8.027 1.8 1.238 4.72-.44 7.2-4.043 2.47-3.604 3.11-6.517 1.06-7.927-2.05-1.41-4.4-.036-7.13 3.943zM1274.49 5.106l-3.45-.342.67-1.785 4.38.499 1.67 1.152-10.06 14.64-1.92-1.324 8.71-12.84zM1287.83 22.084c-3.44 5.005-7.16 6.46-10.31 4.294-3.16-2.166-2.97-5.979.3-10.843s7.28-6.046 10.16-4.07c2.88 1.978 3.05 5.964-.15 10.619zm-8.11-5.242c-2.61 3.803-2.93 6.789-1.13 8.027 1.8 1.237 4.72-.44 7.2-4.044 2.47-3.603 3.11-6.517 1.06-7.926-2.05-1.41-4.4-.036-7.13 3.943zM1297.61 20.991l-3.45-.342.68-1.785 4.37.5 1.67 1.151-10.05 14.64-1.91-1.307 8.69-12.857zM1310.96 37.971c-3.44 5.006-7.17 6.461-10.32 4.295-2.85-1.96-2.96-5.979.3-10.843 3.27-4.864 7.29-6.046 10.17-4.07 2.88 1.978 3.05 5.964-.15 10.618zm-8.11-5.242c-2.62 3.804-2.94 6.79-1.16 8.01 1.78 1.22 4.72-.44 7.2-4.043 2.47-3.603 3.11-6.517 1.06-7.927-2.05-1.41-4.37-.019-7.1 3.96zM1320.71 36.86l-3.45-.343.65-1.802 4.37.5 1.7 1.168-10.06 14.64L1312 49.7l8.71-12.84zM1334.06 53.84c-3.44 5.004-7.17 6.46-10.32 4.294-2.85-1.96-2.94-5.962.33-10.826 3.26-4.864 7.26-6.063 10.16-4.07 2.9 1.995 3.02 5.947-.17 10.601zm-8.12-5.243c-2.61 3.804-2.93 6.79-1.13 8.027 1.8 1.238 4.72-.44 7.2-4.043 2.48-3.603 3.11-6.517 1.06-7.927-2.05-1.41-4.39-.036-7.13 3.943zM1343.81 52.729l-3.45-.343.67-1.784 4.37.498 1.68 1.152-10.06 14.64-1.92-1.324 8.71-12.84zM1357.15 69.706c-3.44 5.005-7.16 6.46-10.32 4.294-3.15-2.166-2.96-5.978.31-10.843 3.26-4.864 7.28-6.046 10.16-4.069 2.88 1.977 3.05 5.963-.15 10.618zm-8.11-5.242c-2.61 3.804-2.93 6.79-1.13 8.027 1.8 1.238 4.72-.44 7.2-4.043 2.47-3.604 3.11-6.517 1.06-7.927-2.05-1.41-4.4-.036-7.13 3.943zM1366.96 68.633l-3.45-.343.67-1.784 4.37.498 1.68 1.152-10.06 14.64-2-1.375 8.79-12.788zM1380.28 85.594c-3.44 5.005-7.17 6.46-10.32 4.294-2.85-1.96-2.97-5.979.3-10.843s7.29-6.046 10.17-4.069c2.87 1.977 3.05 5.963-.15 10.618zm-8.12-5.242c-2.61 3.804-2.93 6.789-1.13 8.027 1.81 1.238 4.7-.457 7.18-4.06 2.47-3.604 3.11-6.517 1.06-7.927-2.05-1.41-4.37-.02-7.11 3.96zM1390.03 84.482l-3.45-.343.65-1.801 4.37.499 1.65 1.135-10.06 14.64-1.92-1.325 8.76-12.805zM1403.35 101.443c-3.44 5.005-7.17 6.461-10.32 4.294-2.85-1.96-2.94-5.961.33-10.825 3.27-4.865 7.26-6.064 10.16-4.07 2.9 1.995 3.02 5.946-.17 10.601zm-8.12-5.242c-2.61 3.804-2.93 6.789-1.13 8.027 1.81 1.238 4.73-.44 7.2-4.043 2.48-3.604 3.14-6.5 1.01-7.961-2.12-1.462-4.32.015-7.05 3.994l-.03-.017zM1413.15 100.37l-3.45-.343.68-1.784 4.37.499 1.68 1.152-10.06 14.64-1.9-1.307 8.68-12.857zM1426.47 117.331c-3.44 5.005-7.16 6.46-10.31 4.294-3.16-2.166-2.97-5.979.3-10.843s7.28-6.046 10.16-4.069c2.88 1.977 3.05 5.963-.15 10.618zm-8.11-5.242c-2.61 3.804-2.93 6.789-1.13 8.027 1.8 1.238 4.72-.44 7.2-4.043 2.47-3.604 3.11-6.517 1.06-7.927-2.05-1.41-4.4-.036-7.13 3.943zM1436.25 116.237l-3.45-.343.67-1.784 4.37.499 1.68 1.152-10.06 14.639-1.9-1.306 8.69-12.857zM1449.6 133.217c-3.44 5.005-7.17 6.461-10.32 4.294-2.85-1.96-2.97-5.978.3-10.843 3.27-4.864 7.29-6.046 10.16-4.069 2.88 1.977 3.05 5.963-.14 10.618zm-8.12-5.242c-2.61 3.804-2.93 6.789-1.13 8.027 1.8 1.238 4.7-.457 7.18-4.06 2.47-3.604 3.11-6.517 1.06-7.927-2.05-1.41-4.37-.019-7.11 3.96zM1199.94 1.49c-3.44 5.006-7.16 6.461-10.32 4.295-3.15-2.166-2.96-5.979.31-10.843 3.26-4.864 7.28-6.046 10.16-4.07 2.88 1.978 3.05 5.964-.15 10.619zm-8.01-5.173c-2.62 3.804-2.94 6.79-1.13 8.027 1.8 1.238 4.72-.44 7.19-4.043 2.48-3.603 3.19-6.617 1.14-8.027-2.06-1.41-4.47.064-7.2 4.043zM1209.7.426l-3.44-.343.67-1.785 4.37.5 1.68 1.151-10.06 14.64-1.9-1.307L1209.7.426zM1223.07 17.378c-3.44 5.006-7.17 6.461-10.32 4.295-2.85-1.96-2.97-5.979.3-10.843s7.29-6.046 10.16-4.07c2.88 1.978 3.05 5.964-.14 10.618zm-8.12-5.242c-2.61 3.804-2.93 6.79-1.15 8.01 1.77 1.22 4.72-.44 7.2-4.043 2.47-3.604 3.18-6.617 1.13-8.027-2.06-1.41-4.44.081-7.18 4.06zM1232.8 16.292l-3.45-.342.65-1.802 4.37.499 1.7 1.169-10.05 14.64-1.93-1.324 8.71-12.84zM1246.16 33.246c-3.44 5.005-7.16 6.46-10.32 4.294-2.85-1.96-2.94-5.961.33-10.826 3.27-4.864 7.26-6.063 10.17-4.069 2.9 1.995 3.02 5.946-.18 10.6zm-8.11-5.242c-2.61 3.804-2.93 6.789-1.13 8.027 1.8 1.238 4.72-.44 7.2-4.043 2.47-3.604 3.18-6.617 1.13-8.027-2.05-1.41-4.47.064-7.2 4.043zM1255.9 32.163l-3.45-.343.67-1.784 4.38.499 1.67 1.152-10.05 14.64-1.93-1.324 8.71-12.84zM1269.26 49.115c-3.44 5.005-7.16 6.46-10.32 4.295-3.15-2.167-2.96-5.98.31-10.843 3.27-4.865 7.28-6.047 10.16-4.07 2.88 1.978 3.05 5.964-.15 10.618zm-8.11-5.242c-2.61 3.804-2.93 6.79-1.13 8.027 1.8 1.238 4.72-.44 7.2-4.043 2.47-3.603 3.18-6.617 1.13-8.027-2.05-1.41-4.47.064-7.2 4.043zM1279.02 48.048l-3.45-.343.68-1.784 4.37.499 1.68 1.152-10.06 14.64-1.9-1.307 8.68-12.857zM1292.39 65.003c-3.44 5.005-7.17 6.46-10.32 4.294-2.85-1.96-2.96-5.978.3-10.842 3.27-4.865 7.29-6.047 10.17-4.07 2.87 1.978 3.05 5.964-.15 10.618zm-8.11-5.242c-2.62 3.804-2.94 6.79-1.16 8.01 1.78 1.22 4.72-.44 7.2-4.043 2.47-3.604 3.18-6.617 1.13-8.027-2.05-1.41-4.44.081-7.17 4.06zM1302.12 63.917l-3.45-.343.65-1.802 4.37.5 1.7 1.168-10.05 14.64-1.93-1.324 8.71-12.84zM1315.48 80.871c-3.43 5.005-7.16 6.46-10.31 4.294-2.86-1.96-2.94-5.961.33-10.825 3.26-4.865 7.26-6.064 10.16-4.07 2.9 1.995 3.02 5.946-.18 10.601zm-8.11-5.242c-2.61 3.804-2.93 6.79-1.13 8.027 1.8 1.238 4.72-.44 7.2-4.043 2.47-3.604 3.18-6.617 1.13-8.027-2.05-1.41-4.46.064-7.2 4.043zM1325.22 79.786l-3.45-.343.67-1.785 4.38.5 1.67 1.151-10.06 14.64-1.92-1.324 8.71-12.84zM1338.58 96.738c-3.44 5.005-7.16 6.46-10.32 4.294-3.15-2.166-2.96-5.979.31-10.843 3.26-4.864 7.28-6.046 10.16-4.069 2.88 1.977 3.05 5.963-.15 10.618zm-8.11-5.242c-2.62 3.804-2.94 6.789-1.13 8.027 1.8 1.238 4.72-.44 7.19-4.043 2.48-3.604 3.19-6.617 1.14-8.027-2.06-1.41-4.47.064-7.2 4.043zM1348.37 95.69l-3.45-.343.67-1.785 4.37.5 1.68 1.151-10.06 14.64-2-1.375 8.79-12.788zM1361.71 112.626c-3.44 5.005-7.17 6.46-10.32 4.294-2.85-1.96-2.97-5.979.3-10.843s7.29-6.046 10.16-4.069c2.88 1.977 3.05 5.963-.14 10.618zm-8.12-5.242c-2.61 3.804-2.93 6.789-1.13 8.027 1.8 1.238 4.7-.457 7.18-4.061 2.47-3.603 3.18-6.617 1.13-8.026-2.06-1.41-4.44.081-7.18 4.06zM1371.44 111.539l-3.45-.343.65-1.801 4.37.499 1.65 1.134-10.06 14.64-1.92-1.324 8.76-12.805zM1384.78 128.475c-3.44 5.005-7.17 6.46-10.32 4.294-2.85-1.96-2.94-5.961.33-10.826 3.26-4.864 7.26-6.063 10.16-4.069 2.9 1.995 3.02 5.946-.17 10.601zm-8.12-5.242c-2.61 3.804-2.93 6.789-1.13 8.027 1.8 1.238 4.72-.44 7.2-4.043 2.48-3.604 3.18-6.618 1.13-8.027-2.05-1.41-4.44.081-7.17 4.06l-.03-.017zM1394.56 127.427l-3.44-.343.67-1.784 4.37.499 1.68 1.152-10.06 14.639-1.9-1.306 8.68-12.857zM1407.9 144.363c-3.44 5.005-7.16 6.46-10.32 4.294-3.15-2.166-2.96-5.979.31-10.843s7.28-6.046 10.16-4.069c2.88 1.977 3.05 5.963-.15 10.618zm-8.11-5.242c-2.61 3.803-2.93 6.789-1.13 8.027 1.8 1.237 4.72-.44 7.2-4.044 2.47-3.603 3.18-6.617 1.13-8.026-2.05-1.41-4.47.064-7.2 4.043zM1417.66 143.294l-3.45-.343.67-1.784 4.38.498 1.67 1.152-10.05 14.64-1.91-1.307 8.69-12.856zM1431.03 160.249c-3.44 5.005-7.17 6.46-10.32 4.294-2.85-1.96-2.97-5.979.3-10.843s7.29-6.046 10.16-4.069c2.88 1.977 3.05 5.963-.14 10.618zm-8.12-5.242c-2.61 3.804-2.93 6.789-1.13 8.027 1.8 1.238 4.7-.457 7.17-4.061 2.48-3.603 3.19-6.617 1.14-8.026-2.06-1.41-4.44.081-7.18 4.06zM1440.76 159.164l-3.45-.343.65-1.802 4.37.499 1.7 1.169-10.05 14.64-1.93-1.324 8.71-12.839zM1454.12 176.118c-3.43 5.005-7.16 6.461-10.31 4.295-2.86-1.96-2.94-5.962.33-10.826 3.26-4.864 7.26-6.063 10.16-4.069 2.9 1.994 3.02 5.946-.18 10.6zm-8.11-5.242c-2.61 3.804-2.93 6.789-1.13 8.027 1.8 1.238 4.72-.439 7.2-4.043 2.47-3.603 3.18-6.617 1.13-8.027-2.05-1.409-4.46.064-7.2 4.043zM1135.15-3.231c-3.44 5.005-7.14 6.478-10.32 4.294-2.85-1.96-2.97-5.979.3-10.843s7.29-6.046 10.17-4.069c2.87 1.977 3.04 5.963-.15 10.618zm-8.09-5.225c-2.61 3.804-2.96 6.772-1.16 8.01 1.8 1.238 4.73-.44 7.2-4.043 2.48-3.604 3.18-6.618 1.13-8.027-2.05-1.41-4.44.081-7.17 4.06zM1144.93-4.322l-3.45-.343.65-1.801 4.37.498 1.7 1.17-10.06 14.64-1.92-1.325 8.71-12.839zM1158.27 12.655c-3.44 5.005-7.16 6.46-10.32 4.294-2.85-1.96-2.94-5.961.33-10.825 3.27-4.865 7.26-6.064 10.16-4.07 2.91 1.995 3.03 5.946-.17 10.601zm-8.11-5.242c-2.62 3.804-2.94 6.79-1.13 8.027 1.8 1.238 4.72-.44 7.19-4.043 2.48-3.604 3.19-6.617 1.14-8.027-2.06-1.41-4.47.064-7.2 4.043zM1168.02 11.546l-3.44-.343.67-1.784 4.37.499 1.68 1.151-10.06 14.64-1.93-1.324 8.71-12.84zM1181.37 28.523c-3.44 5.006-7.17 6.461-10.32 4.295-3.15-2.167-2.96-5.979.3-10.843 3.27-4.865 7.29-6.046 10.17-4.07 2.87 1.978 3.05 5.964-.15 10.618zm-8.01-5.173c-2.62 3.804-2.94 6.79-1.14 8.027 1.81 1.238 4.73-.44 7.2-4.043 2.48-3.604 3.19-6.617 1.13-8.027-2.05-1.41-4.46.064-7.19 4.043zM1191.15 27.433l-3.45-.343.67-1.784 4.38.499 1.67 1.152-10.05 14.64-1.91-1.307 8.69-12.857zM1204.49 44.411c-3.43 5.005-7.16 6.46-10.31 4.295-2.86-1.96-2.97-5.98.3-10.843 3.27-4.865 7.28-6.046 10.16-4.07 2.88 1.978 3.05 5.964-.15 10.618zm-8.11-5.242c-2.61 3.804-2.93 6.79-1.15 8.01 1.77 1.22 4.72-.44 7.19-4.043 2.48-3.604 3.19-6.617 1.13-8.027-2.05-1.41-4.43.081-7.17 4.06zM1214.24 43.3l-3.44-.343.64-1.801 4.38.498 1.7 1.17-10.06 14.64-1.93-1.325 8.71-12.84zM1227.59 60.279c-3.44 5.005-7.16 6.46-10.32 4.294-2.85-1.96-2.94-5.961.33-10.826 3.27-4.864 7.26-6.063 10.16-4.069 2.91 1.995 3.03 5.946-.17 10.6zm-8.11-5.242c-2.62 3.803-2.93 6.789-1.13 8.027 1.8 1.238 4.72-.44 7.19-4.043 2.48-3.604 3.19-6.618 1.14-8.027-2.06-1.41-4.47.064-7.2 4.043zM1237.35 59.17l-3.45-.342.67-1.785 4.37.5 1.68 1.151-10.06 14.64-1.93-1.324 8.72-12.84zM1250.69 76.148c-3.44 5.005-7.16 6.46-10.32 4.294-3.15-2.166-2.96-5.978.31-10.842 3.26-4.865 7.28-6.047 10.16-4.07 2.88 1.978 3.05 5.963-.15 10.618zm-8.11-5.242c-2.62 3.804-2.94 6.79-1.13 8.027 1.8 1.238 4.72-.44 7.19-4.043 2.48-3.604 3.19-6.617 1.14-8.027-2.06-1.41-4.47.064-7.2 4.043zM1260.47 75.056l-3.45-.343.67-1.785 4.37.5 1.68 1.151-10.06 14.64-1.9-1.307 8.69-12.856zM1273.82 92.036c-3.44 5.005-7.17 6.46-10.32 4.294-2.85-1.96-2.97-5.978.3-10.843 3.27-4.864 7.29-6.046 10.16-4.069 2.88 1.977 3.05 5.963-.14 10.618zm-8.12-5.242c-2.61 3.804-2.93 6.79-1.15 8.01 1.77 1.22 4.72-.44 7.2-4.043 2.47-3.604 3.18-6.617 1.13-8.027-2.06-1.41-4.44.081-7.18 4.06zM1283.56 90.924l-3.44-.343.64-1.801 4.38.499 1.7 1.169-10.06 14.639-1.93-1.323 8.71-12.84zM1296.91 107.904c-3.44 5.005-7.16 6.461-10.31 4.294-2.86-1.96-2.94-5.961.32-10.825 3.27-4.865 7.26-6.064 10.17-4.07 2.9 1.995 3.02 5.946-.18 10.601zm-8.11-5.242c-2.61 3.804-2.93 6.789-1.13 8.027 1.8 1.238 4.72-.44 7.2-4.043 2.47-3.604 3.18-6.617 1.13-8.027-2.05-1.41-4.47.064-7.2 4.043zM1306.66 106.793l-3.44-.343.67-1.784 4.37.499 1.68 1.152-10.06 14.639-1.93-1.323 8.71-12.84zM1320.01 123.771c-3.44 5.005-7.17 6.46-10.32 4.294-3.15-2.166-2.96-5.979.3-10.843 3.27-4.864 7.29-6.046 10.17-4.069 2.87 1.977 3.05 5.963-.15 10.618zm-8.11-5.242c-2.62 3.804-2.94 6.789-1.14 8.027 1.81 1.238 4.73-.44 7.2-4.043 2.48-3.604 3.19-6.618 1.13-8.027-2.05-1.41-4.46.064-7.19 4.043zM1329.81 122.697l-3.45-.343.68-1.784 4.37.499 1.68 1.152-10.06 14.639-2-1.375 8.78-12.788zM1343.13 139.659c-3.43 5.005-7.16 6.46-10.31 4.294-2.86-1.96-2.97-5.979.3-10.843s7.28-6.046 10.16-4.069c2.88 1.977 3.05 5.963-.15 10.618zm-8.11-5.242c-2.61 3.803-2.93 6.789-1.13 8.027 1.8 1.237 4.7-.457 7.17-4.061 2.48-3.603 3.19-6.617 1.13-8.027-2.05-1.409-4.43.082-7.17 4.061zM1352.88 138.547l-3.44-.343.64-1.802 4.38.499 1.65 1.135-10.06 14.64-1.93-1.324 8.76-12.805zM1366.2 155.508c-3.43 5.005-7.16 6.46-10.31 4.294-2.86-1.96-2.94-5.962.32-10.826 3.27-4.864 7.26-6.063 10.17-4.069 2.9 1.994 3.02 5.946-.18 10.601zm-8.11-5.242c-2.61 3.803-2.93 6.789-1.13 8.027 1.8 1.237 4.72-.44 7.2-4.044 2.47-3.603 3.18-6.617 1.13-8.026-2.05-1.41-4.44.081-7.17 4.06l-.03-.017zM1376.01 154.435l-3.45-.343.67-1.785 4.38.499 1.67 1.152-10.05 14.64-1.91-1.307 8.69-12.856zM1389.33 171.395c-3.44 5.006-7.16 6.461-10.32 4.295-3.15-2.167-2.96-5.979.31-10.843 3.26-4.864 7.28-6.046 10.16-4.069 2.88 1.977 3.05 5.963-.15 10.617zm-8.11-5.242c-2.62 3.804-2.94 6.79-1.13 8.027 1.8 1.238 4.72-.439 7.19-4.043 2.48-3.603 3.19-6.617 1.14-8.027-2.06-1.409-4.47.064-7.2 4.043zM1399.1 170.301l-3.44-.343.67-1.784 4.37.499 1.68 1.152-10.06 14.64-1.9-1.307 8.68-12.857zM1412.45 187.282c-3.43 5.005-7.16 6.46-10.31 4.294-2.86-1.96-2.97-5.979.3-10.843s7.28-6.046 10.16-4.069c2.88 1.977 3.05 5.963-.15 10.618zm-8.11-5.242c-2.61 3.803-2.93 6.789-1.13 8.027 1.8 1.237 4.7-.457 7.17-4.061 2.48-3.603 3.19-6.617 1.13-8.027-2.05-1.409-4.44.082-7.17 4.061zM1422.2 186.171l-3.44-.342.64-1.802 4.38.499 1.7 1.169-10.06 14.64-1.93-1.324 8.71-12.84zM1435.55 203.151c-3.44 5.005-7.16 6.461-10.31 4.295-2.86-1.96-2.94-5.962.32-10.826 3.27-4.864 7.26-6.064 10.17-4.069 2.9 1.994 3.02 5.946-.18 10.6zm-8.11-5.242c-2.61 3.804-2.93 6.789-1.13 8.027 1.8 1.238 4.72-.439 7.2-4.043 2.47-3.604 3.18-6.617 1.13-8.027-2.05-1.41-4.47.064-7.2 4.043zM1445.33 202.057l-3.45-.343.67-1.784 4.38.499 1.67 1.152-10.06 14.639-1.9-1.306 8.69-12.857zM1080.13-9.047l-3.45-.343.67-1.784 4.38.499 1.67 1.152-10.05 14.64-1.93-1.324 8.71-12.84zM1093.48 7.933c-3.44 5.005-7.17 6.46-10.32 4.295-3.15-2.167-2.96-5.979.3-10.843 3.27-4.865 7.29-6.046 10.17-4.07 2.87 1.978 3.05 5.964-.15 10.618zm-8.11-5.242c-2.62 3.804-2.94 6.79-1.14 8.027 1.81 1.238 4.73-.44 7.2-4.043 2.48-3.603 3.19-6.617 1.13-8.027-2.05-1.41-4.46.064-7.19 4.043zM1103.26 6.84l-3.45-.342.67-1.784 4.37.499 1.68 1.151-10.06 14.64-1.9-1.306 8.69-12.857zM1116.58 23.801c-3.44 5.005-7.14 6.478-10.32 4.295-2.86-1.96-2.97-5.98.3-10.843 3.27-4.865 7.29-6.047 10.16-4.07 2.88 1.978 3.05 5.964-.14 10.618zm-8.09-5.225c-2.62 3.804-2.96 6.772-1.16 8.01 1.8 1.238 4.72-.44 7.2-4.043 2.48-3.604 3.18-6.617 1.13-8.027-2.05-1.41-4.44.081-7.17 4.06zM1126.35 22.71l-3.44-.342.65-1.802 4.37.499 1.7 1.169-10.06 14.64-1.93-1.324 8.71-12.84zM1139.7 39.688c-3.44 5.005-7.17 6.46-10.32 4.294-2.85-1.96-2.94-5.962.33-10.826 3.27-4.864 7.26-6.063 10.16-4.069 2.91 1.994 3.03 5.946-.17 10.6zm-8.11-5.242c-2.62 3.803-2.94 6.789-1.13 8.026 1.8 1.238 4.72-.439 7.19-4.043 2.48-3.603 3.19-6.617 1.13-8.027-2.05-1.41-4.46.064-7.19 4.044zM1149.45 38.578l-3.45-.343.68-1.784 4.37.499 1.68 1.152-10.06 14.64-1.93-1.324 8.71-12.84zM1162.8 55.556c-3.44 5.005-7.17 6.46-10.32 4.294-3.15-2.166-2.97-5.979.3-10.843s7.29-6.046 10.16-4.069c2.88 1.977 3.05 5.963-.14 10.618zm-8.02-5.173c-2.61 3.803-2.93 6.789-1.13 8.027 1.8 1.238 4.73-.44 7.2-4.043 2.48-3.604 3.18-6.618 1.13-8.027-2.05-1.41-4.46.064-7.2 4.043zM1172.58 54.466l-3.45-.343.67-1.785 4.37.5 1.68 1.151-10.06 14.64-1.9-1.307 8.69-12.856zM1185.92 71.444c-3.44 5.005-7.16 6.46-10.31 4.294-2.86-1.96-2.97-5.979.3-10.843s7.28-6.046 10.16-4.069c2.88 1.977 3.05 5.963-.15 10.618zm-8.11-5.242c-2.61 3.804-2.93 6.789-1.16 8.01 1.78 1.22 4.73-.44 7.2-4.044 2.48-3.603 3.19-6.617 1.13-8.027-2.05-1.41-4.44.082-7.17 4.06zM1195.67 70.332l-3.45-.342.65-1.802 4.37.499 1.71 1.169-10.06 14.64-1.93-1.324 8.71-12.84zM1209.02 87.311c-3.44 5.005-7.17 6.46-10.32 4.294-2.85-1.96-2.94-5.961.33-10.825 3.27-4.865 7.26-6.064 10.16-4.07 2.91 1.995 3.03 5.946-.17 10.601zm-8.11-5.242c-2.62 3.804-2.94 6.79-1.13 8.027 1.8 1.238 4.72-.44 7.19-4.043 2.48-3.604 3.19-6.617 1.13-8.027-2.05-1.41-4.46.064-7.19 4.043zM1218.77 86.203l-3.44-.343.67-1.784 4.37.499 1.68 1.152-10.06 14.639-1.93-1.323 8.71-12.84zM1232.12 103.181c-3.44 5.005-7.17 6.46-10.32 4.294-3.15-2.166-2.96-5.979.3-10.843 3.27-4.864 7.29-6.046 10.17-4.07 2.87 1.978 3.05 5.964-.15 10.619zm-8.11-5.242c-2.62 3.803-2.94 6.789-1.14 8.027 1.81 1.237 4.73-.44 7.2-4.043 2.48-3.604 3.19-6.618 1.13-8.027-2.05-1.41-4.46.064-7.19 4.043zM1241.9 102.088l-3.45-.343.67-1.784 4.37.499 1.68 1.152-10.06 14.639-1.9-1.306 8.69-12.857zM1255.24 119.069c-3.43 5.005-7.16 6.46-10.31 4.294-2.86-1.96-2.97-5.979.3-10.843s7.28-6.046 10.16-4.069c2.88 1.977 3.05 5.963-.15 10.618zm-8.11-5.243c-2.61 3.804-2.93 6.79-1.15 8.01 1.77 1.221 4.72-.439 7.19-4.043 2.48-3.603 3.19-6.617 1.13-8.027-2.05-1.41-4.43.081-7.17 4.06zM1264.99 117.957l-3.44-.343.64-1.802 4.38.499 1.7 1.169-10.06 14.64-1.93-1.324 8.71-12.839zM1278.34 134.936c-3.44 5.005-7.16 6.461-10.32 4.295-2.85-1.96-2.94-5.962.33-10.826 3.27-4.864 7.26-6.063 10.16-4.069 2.91 1.994 3.03 5.946-.17 10.6zm-8.11-5.242c-2.61 3.804-2.93 6.789-1.13 8.027 1.8 1.238 4.72-.439 7.2-4.043 2.47-3.603 3.18-6.617 1.13-8.027-2.06-1.409-4.47.064-7.2 4.043zM1288.09 133.826l-3.45-.343.68-1.785 4.37.499 1.68 1.152-10.06 14.64-1.93-1.324 8.71-12.839zM1301.44 150.803c-3.44 5.005-7.17 6.461-10.32 4.294-3.15-2.166-2.97-5.978.3-10.842 3.27-4.865 7.29-6.047 10.16-4.07 2.88 1.978 3.05 5.963-.14 10.618zm-8.12-5.242c-2.61 3.804-2.93 6.789-1.13 8.027 1.8 1.238 4.73-.439 7.2-4.043 2.48-3.604 3.18-6.617 1.13-8.027-2.05-1.41-4.46.064-7.2 4.043zM1311.24 149.73l-3.45-.343.68-1.785 4.37.499 1.68 1.152-10.06 14.64-2-1.376 8.78-12.787zM1324.56 166.691c-3.44 5.005-7.16 6.461-10.31 4.294-2.86-1.96-2.97-5.978.3-10.843 3.27-4.864 7.28-6.046 10.16-4.069 2.88 1.977 3.05 5.963-.15 10.618zm-8.11-5.242c-2.61 3.804-2.93 6.789-1.13 8.027 1.8 1.238 4.7-.457 7.17-4.06 2.48-3.604 3.19-6.617 1.13-8.027-2.05-1.41-4.44.081-7.17 4.06zM1334.31 165.579l-3.45-.343.65-1.801 4.37.499 1.66 1.134-10.06 14.64-1.93-1.324 8.76-12.805zM1347.63 182.54c-3.44 5.005-7.16 6.461-10.32 4.294-2.85-1.96-2.94-5.961.33-10.825 3.27-4.865 7.26-6.064 10.17-4.069 2.9 1.994 3.02 5.945-.18 10.6zm-8.11-5.242c-2.61 3.804-2.93 6.789-1.13 8.027 1.8 1.238 4.72-.439 7.2-4.043 2.47-3.604 3.18-6.617 1.13-8.027-2.05-1.41-4.44.081-7.18 4.06l-.02-.017zM1357.44 181.467l-3.45-.343.67-1.784 4.38.499 1.67 1.152-10.06 14.639-1.9-1.306 8.69-12.857zM1370.76 198.428c-3.44 5.005-7.17 6.46-10.32 4.294-3.15-2.166-2.96-5.978.3-10.843 3.27-4.864 7.29-6.046 10.17-4.069 2.87 1.977 3.05 5.963-.15 10.618zm-8.11-5.242c-2.62 3.804-2.94 6.789-1.14 8.027 1.81 1.238 4.73-.44 7.2-4.043 2.48-3.604 3.19-6.617 1.13-8.027-2.05-1.41-4.46.064-7.19 4.043zM1380.53 197.334l-3.45-.343.68-1.785 4.37.499 1.68 1.152-10.06 14.64-1.9-1.307 8.68-12.856zM1393.88 214.314c-3.44 5.005-7.16 6.461-10.32 4.294-2.85-1.96-2.96-5.978.31-10.843 3.27-4.864 7.28-6.046 10.16-4.069 2.88 1.978 3.05 5.963-.15 10.618zm-8.11-5.242c-2.61 3.804-2.93 6.789-1.13 8.027 1.8 1.238 4.7-.457 7.17-4.06 2.48-3.604 3.18-6.617 1.13-8.027-2.05-1.41-4.44.081-7.17 4.06zM1403.63 213.204l-3.44-.343.64-1.802 4.38.499 1.7 1.169-10.06 14.64-1.93-1.324 8.71-12.839zM1416.98 230.184c-3.44 5.005-7.16 6.46-10.32 4.294-2.85-1.96-2.94-5.962.33-10.826 3.27-4.864 7.26-6.063 10.16-4.069 2.91 1.995 3.03 5.946-.17 10.601zm-8.11-5.242c-2.61 3.804-2.93 6.789-1.13 8.027 1.8 1.238 4.72-.44 7.2-4.043 2.47-3.604 3.18-6.618 1.13-8.027-2.06-1.41-4.47.064-7.2 4.043zM1426.76 229.09l-3.45-.343.67-1.785 4.37.499 1.68 1.152-10.06 14.64-1.9-1.307 8.69-12.856zM1440.08 246.052c-3.44 5.005-7.17 6.46-10.32 4.294-3.15-2.166-2.96-5.979.3-10.843 3.27-4.864 7.29-6.046 10.17-4.069 2.87 1.977 3.05 5.963-.15 10.618zm-8.11-5.242c-2.62 3.803-2.94 6.789-1.14 8.026 1.81 1.238 4.73-.439 7.2-4.043 2.48-3.603 3.19-6.617 1.13-8.027-2.05-1.409-4.46.064-7.19 4.044zM1449.86 244.959l-3.45-.343.67-1.784 4.37.499 1.68 1.152-10.06 14.639-1.9-1.306 8.69-12.857z'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='1042' y1='-78.859' x2='1042' y2='600.228' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F08114'/%3E%3Cstop offset='1' stop-color='%23F8C18C'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='788.274' y1='174.07' x2='788.274' y2='487.07' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F08114'/%3E%3Cstop offset='1' stop-color='%23F8C18C'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear' x1='1058.5' y1='466.335' x2='1058.5' y2='779.335' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F08114'/%3E%3Cstop offset='1' stop-color='%23F8C18C'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear' x1='1498.27' y1='296.07' x2='1498.27' y2='609.07' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F08114'/%3E%3Cstop offset='1' stop-color='%23F8C18C'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint4_linear' x1='542.274' y1='174.07' x2='542.274' y2='487.07' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F08114'/%3E%3Cstop offset='1' stop-color='%23F8C18C'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint5_linear' x1='502.006' y1='94.476' x2='502.006' y2='533.648' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F08114'/%3E%3Cstop offset='1' stop-color='%23F8C18C'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint6_linear' x1='4.509' y1='0' x2='4.509' y2='223.779' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F08114'/%3E%3Cstop offset='1' stop-color='%23F8C18C'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E") no-repeat;
}

</style>
