<template>
  <div>
    <div class="flex flex-wrap justify-between mb-4">
      <div class="flex flex-no-wrap">
        <svg-vue icon="dashboard" class="h-6 w-6" />
        <span class="px-2 text-xl"> The Supervisor</span>
      </div>
      <div class="flex">
        <!-- Academic year  -->
        <div class="relative mr-2">
          <select
            v-model="annee_academiques_id"
            class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="grid-state"
          >
            <option :key="year.id" :value="year.id" v-for="year in years">
              {{ year.name }}
            </option>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>

        <button
          class="bg-white shadow-lg w-10 h-10 rounded flex justify-center mr-2"
          title="Historiques"
          type="button"
          @click="$router.push({ name: 'history.index' })"
        >
          <svg-vue icon="history" class="h-6 w-6" />
        </button>
        <button
          v-if="user.isAdmin || user.isOwner"
          class="bg-white shadow-lg w-10 h-10 rounded flex justify-center"
          title="paramètres"
          @click="$router.push({ name: 'settings.index' })"
        >
          <svg-vue icon="setting" class="h-6 w-6" />
        </button>
      </div>
    </div>

    <!-- work station group -->
    <div
      class="flex flex-wrap -mx-3"
      v-if="filieresByYear(annee_academiques_id)"
    >
      <div
        class="w-full sm:w-full md:w-1/2 lg:w-1/3 py-3 px-3"
        :key="filiere"
        v-for="(key, filiere) in filieresByYear(annee_academiques_id)"
      >
        <card-view :title="filiere" :description="currentOwner">
          <template v-if="filiere !== 'GL'" #icon>
            <svg-vue icon="si" v-if="filiere === 'SI'" class="h-16 w-16" />
            <svg-vue icon="siri" v-else class="h-16 w-16" />
          </template>

          <template
            v-for="(group, index) in educationalgroupByYear(
              annee_academiques_id
            )"
          >
            <template v-if="group.filiere === filiere">
              <router-link
                :key="index"
                class="py-2 flex items-center justify-center border-r"
                :class="
                  classes(educationalgroupByYear(annee_academiques_id).length)
                "
                :to="{ name: 'planning.index', params: { id: group.id } }"
              >
                {{ group.grade }}
              </router-link>
            </template>
          </template>
        </card-view>
      </div>
    </div>

    <!-- Load planning table-->
    <router-view class="mt-10" />
  </div>
</template>

<script>
import cardView from "@/components/Card";
import { mapGetters, mapActions } from "vuex";

export default {
  components: {
    cardView
  },

  data() {
    return {
      annee_academiques_id: ""
    };
  },

  watch: {
    annee_academiques_id: "change"
  },

  computed: {
    ...mapGetters("entities/educationalgroup", [
      "educationalgroup",
      "educationalgroupByYear",
      "educationalgroupById",
      "filieres",
      "filieresByYear"
    ]),
    ...mapGetters("auth", ["user"]),
    ...mapGetters("entities/academicyear", ["years"]),
    currentOwner() {
      if (this.educationalgroupById(parseInt(this.$route.params.id))) {
        return this.educationalgroupById(parseInt(this.$route.params.id)).owner
          .name;
      }
    }
  },

  async created() {
    await Promise.all([this.fetch(), this.fetchAcademicYear()]);
    if (this.educationalgroup.length) {
      this.annee_academiques_id = this.educationalgroup[0].annee_academiques_id_id;
    }
  },

  methods: {
    ...mapActions({
      fetch: "entities/educationalgroup/fetch",
      fetchAcademicYear: "entities/academicyear/fetch"
    }),

    classes(size) {
      return size > 1 ? `w-1/${size}` : "w-full";
    },

    change() {
      if (this.educationalgroupByYear(this.annee_academiques_id)[0]) {
        this.$router.push({
          name: "planning.index",
          params: {
            id: this.educationalgroupByYear(this.annee_academiques_id)[0].id
          }
        });
      } else {
        this.$notify({
          title: "Erreur",
          message: "Aucun groupe pédagogique n'a été ajouté à cette année",
          type: "danger"
        });
      }
    },

    description() {}
  }
};
</script>

<style scoped>
.router-link-exact-active {
  background: #3777bc;
  color: #fff;
}
</style>
