<template>
  <div>

    <base-table
      v-if="history.length"
      :columns="$options.columns"
      :items="history" >
        <template #causer_id="{ row }">
          <div v-if="row.user">
            {{ row.user.name }}
          </div>
          <div v-else>#</div>
        </template>
      </base-table>

  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {

  columns: {
    log_name: 'Nom',
    description: 'Description',
    causer_id: 'User',
    created_at: 'Date'
  },

  computed: {
    ...mapGetters('entities/history', ['history'])
  },

  async created () {
    await this.fetch()
  },

  methods: {
    ...mapActions('entities/history', ['fetch'])
  }
}
</script>
