<template>
  <div class="modal" :class="{'hidden': !active}">
    <form @submit.prevent="ok()" class="modal-content relative rounded" :class="`${width}`">
      <span class="absolute close right-0 px-2 top-0" @click="close()">&times;</span>
      <div class="px-4 py-4">
        <div class="">
          <p class="text-2xl mb-4 font-medium">
            {{ title }}
          </p>
        </div>
        <slot />
      </div>
      <div class=" rounded-b flex bg-gray-200 justify-center py-2 mt-8">
        <slot name="footer">
          <base-button class="bg-orange" @click.native="close()" title="Annuler" />
          <base-button class="bg-blue ml-2" :loading="loading" type="submit" title="Valider" />
        </slot>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  props: {
    width: {
      type: String,
      default: 'w-1/2'
    },

    title: {
      type: String,
      default: 'Modal title'
    },

    active: Boolean,
    loading: Boolean
  },

  methods: {
    close () {
      this.$emit('update:active', false)
      this.$emit('close', false)
    },

    ok () {
      this.$emit('ok')
    }
  }
}
</script>

<style scoped>
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #888;
}

.close {
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

</style>
