<template>
  <button v-bind="$attrs" :type="type" class="text-white rounded px-4 py-2">
    <span v-if="loading" class="spinner"></span>
    <span v-else>{{ title }}</span>
    <slot name="icon"/>
  </button>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Base button'
    },

    type: {
      type: String,
      default: 'button'
    },

    loading: Boolean
  }
}
</script>

<style scoped>
.spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid transparent;
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
</style>
