<template>
  <div class="">
    <table>
      <thead>
        <tr>
          <th :key="index" scope="col" v-for="(header, index) in $attrs.columns">
            {{ header }}
          </th>
        </tr>
      </thead>
      <tbody>
        <template>
          <tr :key="index" v-for="(item, index) in items">

            <template v-for="(value, key) in $attrs.columns">

              <td
                :key="key"
                :data-label="value"
                :rowspan="rowspan(item, key)"
                v-if="objectHas(item, key)"
                >
                <slot :name="key" v-bind:value="item[key]" v-bind:row="item">
                  {{ valueAt(item, key, '#') }}
                </slot>
              </td>

            </template>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
</template>

<script>
import valueAt from 'lodash/get'
import objectHas from 'lodash/has'

export default {
  props: {

    items: {
      type: Array,
      default: () => []
    },

    rowSpan: String
  },

  methods: {
    valueAt (obj, field, deflt) {
      return valueAt(obj, field, deflt)
    },

    rowspan (obj, key) {
      return valueAt(obj, `${key}.${this.rowSpan}`, 1)
    },

    objectHas (obj, field) {
      return objectHas(obj, field)
    }
  }

}
</script>

<style scoped>
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  text-align: left;
  background: rgba(55, 119, 188, 0.1);
  margin: .5em 0 .75em;
}

.caption {
  background: rgba(55, 119, 188, 0.1);
}

table tr {
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: left;
}

/* table th {
  font-size: .85em;
  letter-spacing: .1em;
} */

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    display: block;
    margin-bottom: .625em;
  }

  table td {
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
</style>
