<template>
  <div class="flex items-center py-2" :class="{'border-b border-b-2 border-teal-500': !search && !error, 'border-b border-b-2 border-red-500 text-red-300': error}">
    <div class="flex-shrink" v-if="prepend">
      <slot name="prepend">
        <svg class="h-4 w-4" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M19.319 18.027l-6.087-6.086a6.968 6.968 0 001.456-4.285c0-1.88-.734-3.642-2.06-4.97A6.98 6.98 0 007.655.624a6.99 6.99 0 00-4.97 2.06A6.975 6.975 0 00.624 7.656c0 1.878.734 3.645 2.06 4.971a6.975 6.975 0 004.971 2.06c1.57 0 3.061-.51 4.282-1.453l6.087 6.085a.19.19 0 00.136.056.191.191 0 00.136-.056l1.022-1.02a.19.19 0 00.041-.21.191.191 0 00-.041-.062zm-7.95-6.658a5.222 5.222 0 01-3.713 1.537 5.222 5.222 0 01-3.712-1.537 5.222 5.222 0 01-1.538-3.713c0-1.401.546-2.72 1.538-3.712a5.222 5.222 0 013.712-1.538c1.402 0 2.721.544 3.713 1.538a5.222 5.222 0 011.537 3.712 5.218 5.218 0 01-1.537 3.713z" fill="#BDBDBD"/>
        </svg>
      </slot>
    </div>
    <input
      class="appearance-none bg-transparent border-none w-full mr-3 py-1 px-2 leading-tight focus:outline-none"
      :class="{'text-gray-700': !error, 'text-red-500': error}"
      :type="type"
      v-bind="$attrs"
      v-on="listeners"
      :placeholder="placeholder"
    >
      <div class="flex-shrink-0" v-if="icon">
        <slot name="icon">
          <svg class="h-4 w-8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.805 4.194c-.723 0-1.416.246-1.927.684-.51.438-.798 1.032-.798 1.651 0 .62.287 1.214.798 1.652.511.438 1.204.684 1.927.684.722 0 1.415-.246 1.926-.684.511-.438.798-1.032.798-1.652 0-.619-.287-1.213-.798-1.65-.51-.439-1.204-.685-1.926-.685zm0 6.228c-1.205 0-2.36-.41-3.211-1.14-.852-.73-1.33-1.72-1.33-2.753 0-1.032.478-2.022 1.33-2.752.851-.73 2.006-1.14 3.21-1.14 1.205 0 2.36.41 3.211 1.14.852.73 1.33 1.72 1.33 2.752 0 1.033-.478 2.023-1.33 2.753-.851.73-2.006 1.14-3.21 1.14zm0-9.73c-4.541 0-8.42 2.42-9.99 5.837 1.57 3.418 5.449 5.839 9.99 5.839 4.54 0 8.418-2.421 9.99-5.839-1.572-3.417-5.45-5.838-9.99-5.838z" fill="#828282"/>
          </svg>
        </slot>
      </div>
  </div>
</template>

<script>
export default {
  props: {
    placeholder: {
      type: String,
      default: 'Jane Doe'
    },
    type: {
      type: String,
      default: 'text'
    },

    prepend: Boolean,
    search: Boolean,
    icon: Boolean,
    error: Boolean
  },

  computed: {
    listeners () {
      return {
        ...this.$listeners,

        input: event => {
          this.$emit('input', event.target.value)
        }
      }
    },
  }
}
</script>

<style scoped>
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}
</style>
