<template>
  <div class="card">

    <div class="pl-8 pr-4 pt-8 pb-4 flex items-center content-center justify-between">
      <div class="flex-col">
        <h4 class="font-semibold text-2xl"> {{ title }} </h4>
        <p class="text-gray-500"> {{ description }} </p>
      </div>

      <div class="flex-col items-center">
        <slot name="icon">
          <svg class="h-16 w-16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M.837.837h53.326v45.326H.837V.837z" stroke="#3777BC" stroke-width="1.674"/>
            <path d="M.837.837h53.326v11.326H.837V.837z" stroke="#3777BC" stroke-width="1.674"/>
            <path d="M5.592 5.118h3.346v3.147H5.592V5.118zM12.284 5.118h3.346v3.147h-3.346V5.118zM18.976 5.118h3.346v3.147h-3.346V5.118z" fill="#3777BC"/>
            <path d="M20.03 21.447l1.158.911-5.765 7.328-.407.517.407.518 5.765 7.326-1.158.912-6.89-8.756 6.89-8.756zM34.83 38.959l-1.158-.912 5.766-7.326.407-.518-.407-.517-5.766-7.328 1.159-.911 6.89 8.756-6.89 8.756zM26.694 21.005h1.473v18.397h-1.474V21.005z" fill="#428DFF" stroke="#3777BC" stroke-width="1.674"/>
          </svg>
        </slot>
      </div>

    </div>

    <div class="flex border-t">
      <slot>
        <router-link class="py-2 flex items-center justify-center w-1/2 border-r" to="/"> Master 1 </router-link>
        <router-link class="flex items-center justify-center w-1/2" to="/"> Master 2 </router-link>
      </slot>
    </div>

  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: 'GL'
    },
    description: {
      type: String,
      default: '..'
    }
  }
}
</script>

<style scoped>
.card {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
</style>
