<template>
  <div class="flex">
    <span class="text-white cursor-pointer rounded px-2 py-1 bg-blue"
      @click.prevent="decrement"> - </span>

    <div class="bg-gray-200 size text-center">
      <span class="block mt-1"> {{ num }} </span>
    </div>

    <span class="text-white cursor-pointer rounded px-2 py-1 bg-blue"
      @click.prevent="increment"
    > + </span>
  </div>
</template>

<script>
export default {

  props: {
    min: {
      type: Number,
      default: 0
    },
    max: {
      type: Number,
      default: 30
    }
  },

  data () {
    return {
      num: 0
    }
  },

  watch: {
    min (newValue) {
      this.num = newValue
    }
  },

  mounted () {
    this.num = this.min
  },

  methods: {
    increment () {
      if (this.num < this.max) {
        this.num += 1
        this.update()
      }
    },
    decrement () {
      if (this.num > this.min) {
        this.num -= 1
        this.update()
      }
    },

    update () {
      this.$emit('num', this.num)
    }
  }
}
</script>

<style scoped>
.size {
  min-width: 50px;
}
</style>
