<template>
  <div class="border border-gray-400 rounded-lg">
    <div class="color-grey h-2 rounded-lg" :style="{width}"></div>
  </div>
</template>

<script>
export default {
  props: {
    width: {
      type: String,
      default: '40%'
    }
  }
}
</script>

<style scoped>
.color-grey {
  background-color: #BDBDBD
}
</style>
