<template>
  <div class="">
    <div class="">
      <span class="px-2 text-xl"> Paramètres </span>
    </div>

    <div class="px-2 mt-8">
      <div :key="setting.title" v-for="setting in settings">
        <div
          :class="{
            hidden: setting.title === 'Suppression de données' && !user.isAdmin
          }"
        >
          <p class="font-semibold">{{ setting.title }}</p>

          <hr class="border mb-4" />

          <template v-for="data in setting.data">
            <div
              :key="data.route.name"
              v-if="user.isAdmin || user.isOwner"
              class="mb-4 flex flex-wrap justify-between items-center academicyear"
            >
              <div>{{ data.description }}</div>
              <div>
                <base-button
                  @click.native="$router.push(data.route)"
                  :class="{
                    'bg-blue': setting.title === 'Ajout de données',
                    'bg-orange': setting.title === 'Modification de données',
                    'bg-red-500': setting.title === 'Suppression de données'
                  }"
                  :title="data.buttonTitle"
                />
              </div>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      settings: [
        {
          title: "Ajout de données",
          data: [
            {
              description: "Création d'une année académique",
              buttonTitle: "Création d'une année académique",
              route: {
                name: "academicyear.create"
              }
            },
            {
              description: "Création d'un groupe pédagogique",
              buttonTitle: "Création d'un groupe pédagogique",
              route: { name: "educationalgroup.create" }
            }
          ]
        },

        {
          title: "Modification de données",
          data: [
            {
              description: "Modification d'une année académique",
              buttonTitle: "Modifier une année académique",
              route: { name: "academicyear.update" }
            }
          ]
        },

        {
          title: "Suppression de données",
          data: [
            {
              description: "Suppression d'une année académique",
              buttonTitle: "Suppression d'une année académique",
              route: {
                name: "academicyear.delete"
              }
            },
            {
              description: "Suppression d'un groupe pédagogique",
              buttonTitle: "Suppression d'un groupe pédagogique",
              route: {
                name: "educationalgroup.delete"
              }
            },
            {
              description: "Suppression d'une UE",
              buttonTitle: "Suppression d'une ue",
              route: {
                name: "ue.delete"
              }
            },
            {
              description: "Suppression d'un EC",
              buttonTitle: "Suppression d'un ec",
              route: {
                name: "ec.delete"
              }
            }
          ]
        }
      ]
    };
  },

  computed: {
    ...mapGetters("auth", ["user"])
  }
};
</script>

<style scoped></style>
