<template>
  <div class="flex">
    <div class="hidden sm:hidden md:block h-screen w-1/4 bg-white">
      <div class="flex justify-center items-center">
        <svg-vue
          icon="ifri"
          @click.native="$router.push({ name: 'dashboard.index' })"
          class="mt-4 svg-icon cursor-pointer"
        />
      </div>
      <div class="flex items-center justify-center">
        <div
          class="flex items-center justify-center h-40 w-40 rounded bg-profile"
        >
          <div>
            <svg
              width="92"
              height="92"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M45.792 0C20.515 0 0 20.515 0 45.792s20.515 45.791 45.792 45.791S91.583 71.07 91.583 45.793C91.584 20.515 71.07 0 45.793 0zm0 13.738a13.72 13.72 0 0113.737 13.737 13.72 13.72 0 01-13.737 13.738 13.72 13.72 0 01-13.738-13.738 13.72 13.72 0 0113.738-13.738zm0 65.024c-11.448 0-21.568-5.862-27.475-14.745.137-9.113 18.316-14.104 27.475-14.104 9.112 0 27.337 4.991 27.475 14.104C67.36 72.9 57.24 78.762 45.792 78.762z"
                fill="#3777BC"
              />
            </svg>
          </div>
        </div>
      </div>

      <div class="flex flex-col items-center justify-center">
        <div class="mt-3 color-blue text-xl font-medium">{{ user.name}}</div>
        <!-- <div class="mt-1">Administrateur</div> -->

        <div class="mt-8 font-semibold">+229 {{ user.phone }}</div>
        <div class="mt-1 font-semibold">{{ user.email }}</div>
      </div>

      <div class="flex items-center justify-center mt-4">
        <base-button
          class="bg-blue"
          title="Editer votre profil "
          @click.native="$router.push({ name: 'user.update' })"
        />
      </div>
      <div
        class="flex items-center justify-center mt-4"
        v-if="user.isAdmin || user.isOwner"
      >
        <base-button
          class="bg-orange"
          title="Créer un utilisateur"
          @click.native="$router.push({ name: 'user.create' })"
        />

      </div>
      <div
        class="flex items-center justify-center mt-4"
        v-if="user.isAdmin || user.isOwner"
      >
        <base-button
          class="bg-orange"
          title="Créer un enseignant"
          @click.native="$router.push({ name: 'enseignant.create' })"
        />
      </div>
    </div>

    <div class="sm:w-full">
      <div class="flex justify-between px-3 py-3 bg-white h-16">
        <div>
          <!-- <base-input
            placeholder="Recherche"
            prepend
            search
          /> -->
        </div>

        <div>
          <b-button variant="outline-info" class="mb-2" @click="$router.push('/logout')">
            <b-icon icon="power" aria-hidden="true"></b-icon>Logout
          </b-button>
<!--           <svg-vue-->
<!--            icon="logout"-->
<!--            class="cursor-pointer h-8 w-8"-->
<!--            @click.native="$router.push('/logout')"-->
<!--          />-->
        </div>
      </div>
      <div class="content background-color-blue px-6 pt-6">
        <router-view />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters("auth", ["user"])
  }
};
</script>

<style scoped>
.svg-icon {
  width: 130px;
  height: 104px;
}
.background-color-blue {
  background: #f9fafb;
}
.content {
  height: calc(100vh - 64px);
  overflow-y: scroll;
}
.bg-profile {
  background: rgba(55, 119, 188, 0.1);
}
</style>
